
<ag-grid-angular
    style="width: 1550px; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="multiple"
    [rowData]="rowData"
>
</ag-grid-angular> 

<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="deleteSelectedRows()">Delete Selected Rows</button>
<button (click)="getAllRows()">Count All Rows</button>
<button (click)="addARow()">Add A Row</button>
<button (click)="addAEmptyRow()">Add An Empty Row</button>
<button (click)="selectAllRows()">select All Rows</button>
<button (click)="deselectAllRows()">deselect All Rows</button>

<button>submit</button>
<button>cancel</button>